@import "./reset.css";
@import "./livestream-section.css";
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

/*Senchigami Color: #00aeef*/
body {
  background-color: #0d0d0d;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.navigation-bar{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: blue;
}

.creator-container {
  position: relative;
  height: 286px;
  width: 343px;
  margin: 40px auto;
}

.creator-name-card > p {
  width: min-content;
  margin: 10px;
  font-size: 22px;
  font-family: "Syncopate", sans-serif;
}

.creator-name-card {
  position: absolute;
  text-align: left;
  border-radius: 5px;
  width: 343px;
  background-color: white;
  height: 286px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 200ms;
}

.creator-container:hover > .creator-name-card {
  background-color: #00aeef;
  color: white;
}

.creator-tag {
  position: absolute;
  bottom: 0;
  left: -20px;
  height: 224px;
  width: 390px;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.6) 50%,
    rgba(0, 174, 239, 0.6) 50%
  );
  background-size: 200%, 100%;
  background-position: right;
  transition: all 0.3s ease;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 48%, 0% 0%);
}

.creator-tag-hover {
  background-position: left;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 10%;
  text-align: left;
}

.sign-in-form > input{
  border: 1px solid black;
}

.sign-in-section{
  display: flex;
  flex-direction: column;
}
